<div class="player-details-container">
  <div class="player-content">

      <div class="team-card-content">
        <img class="team-member-avatar" [src]="_player.avatar">
        <h3 class="team-member-name">{{_player.name}}</h3>
        <!--<p class="team-member-email">{{_player.number}}</p>-->
      </div>

      <div class="grid-table">

        <div class="grid-table-header">Name:</div>
        <div class="">
          <input type="text" [value]="_player.name" name="name" [(ngModel)]="_player.name" placeholder="Enter name"
                 class="form-control">
        </div>
        <div class="grid-table-header">Number:</div>

        <div class="">
          <input type="number" [value]="_player.number" name="number" [(ngModel)]="_player.number" name="number"
                 placeholder="Enter number" class="form-control">
        </div>
        <div *ngIf="isAuthenticated " class="grid-table-header">Admin:</div>
        <div *ngIf="isAuthenticated " class="">

          <label class="switch switch-green">
            <input type="checkbox" class="switch-input" checked  [value]="_player.admin" name="admin" [(ngModel)]="_player.admin">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>
        </div>
        <div class="grid-table-header">Birth:</div>

        <div class="">
          <input type="date" [value]="_player.birth" name="birth" [(ngModel)]="_player.birth" placeholder="Enter birth"
                 class="form-control">
        </div>
        <div class="grid-table-header">Avatar:</div>

        <div class="">
          <input type="text" [value]="_player.avatar"name="avatar"[(ngModel)]="_player.avatar" placeholder="Enter birth"
                 class="form-control">
        </div>
        <div *ngIf="isAuthenticated" class="grid-table-header">Strength:</div>

        <div *ngIf="isAuthenticated" class="" style="display: flex;justify-content: space-around;">

          <div><input class="" type="range" [value]="_player.strength" name="strength" [(ngModel)]="_player.strength" #ranger (input)="sliderChanged(ranger.value)"
                 class="form-control">
          </div>
          <div class="margin-l--3px">
            <output class="col-sm-2 form-control"  for="strength" name="amountInput" >{{_player.strength}}</output>
          </div>
        </div>

        <div  class="grid-table-header">Captain:</div>
        <div class="">

          <label class="switch switch-green">
            <input  [disabled]="!isAuthenticated" type="checkbox" class="switch-input" checked   [value]="_player.captain" name="captain" [(ngModel)]="_player.captain">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>

          <!--              <input type="text" [value]="_player.captain" name="captain" [(ngModel)]="_player.captain" placeholder="is captain"-->
          <!--                     class="form-control">-->
        </div>
        <div class="grid-table-header">Arrive:</div>
        <div class="">

          <label class="switch switch-green">
            <input type="checkbox" class="switch-input" checked  [value]="_player.arrive" name="arrive" [(ngModel)]="_player.arrive">
            <span class="switch-label" data-on="On" data-off="Off"></span>
            <span class="switch-handle"></span>
          </label>

      </div>





      <!--<div class="form-content">
        <form class="form-horizontal demo" role="form" novalidate #form="ngForm">

          <div class="form-group">
            <label class="control-label form-label col-sm-2">Name </label>

            <div class="col-sm-6">
              <input type="text" [value]="_player.name" name="name" [(ngModel)]="_player.name" placeholder="Enter name"
                     class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label form-label col-sm-2">Number </label>

            <div class="col-sm-6">
              <input type="number" [value]="_player.number" name="number" [(ngModel)]="_player.number" name="number"
                     placeholder="Enter number" class="form-control">
            </div>

          </div>
          <div class="form-group">
            <label class="control-label form-label col-sm-2">Birth </label>

            <div class="col-sm-6">
              <input type="date" [value]="_player.birth" name="birth" [(ngModel)]="_player.birth" placeholder="Enter birth"
                     class="form-control">
            </div>

          </div>
          <div class="form-group">
            <label class="control-label form-label col-sm-2">Avatar </label>

            <div class="col-sm-6">
              <input type="text" [value]="_player.avatar"name="avatar"[(ngModel)]="_player.avatar" placeholder="Enter birth"
                     class="form-control">
            </div>

          </div>
          <div *ngIf="isAuthenticated" class="form-group">
            <label class="control-label form-label col-sm-2">Strength </label>
            <div class="col-sm-4">
              <input class="col-sm-4" type="range" [value]="_player.strength" name="strength" [(ngModel)]="_player.strength" #ranger (input)="sliderChanged(ranger.value)"
                     class="form-control">
            </div>
            <div class="col-sm-2">
              <output class="col-sm-2 form-control"  for="strength" name="amountInput" >{{_player.strength}}</output>
            </div>

            </div>
          <div class="form-group">
            <label class="control-label form-label col-sm-2">Admin</label>
            <div class="col-sm-6 padding-t&#45;&#45;4px">

              <label class="switch switch-green">
                <input type="checkbox" class="switch-input" checked  [value]="_player.admin" name="admin" [(ngModel)]="_player.admin">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label form-label col-sm-2">Captain</label>
            <div class="col-sm-6 padding-t&#45;&#45;4px">
              <label class="switch switch-green">
                <input type="checkbox" class="switch-input" checked   [value]="_player.captain" name="captain" [(ngModel)]="_player.captain">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label form-label col-sm-2">Phone</label>
            <div class="col-sm-6">
              <input type="text" [value]="_player.phone" name="phone" [(ngModel)]="_player.phone" placeholder="Enter birth"
                     class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label form-label col-sm-2">Arrive</label>
            <div class="col-sm-6 padding-t&#45;&#45;4px">

              <label class="switch switch-green">
                <input type="checkbox" class="switch-input" checked  [value]="_player.arrive" name="arrive" [(ngModel)]="_player.arrive">
                <span class="switch-label" data-on="On" data-off="Off"></span>
                <span class="switch-handle"></span>
              </label>


&lt;!&ndash;              <input type="text" [value]="_player.arrive" name="arrive" [(ngModel)]="_player.arrive" placeholder="Enter birth"
                     class="form-control">&ndash;&gt;
            </div>
          </div>



        </form>
      </div>-->

    </div>
      <!--          // Actions-->
      <div class="grid-actions">
          <div class="">
            <button (click)="handleUpdate(_player)" class="btn button-primary" type="submit">Update
            </button>
          </div>
          <div class="">
            <button (click)="handleBack()" class="btn button-primary" type="submit">Back
            </button>
          </div>
      </div>




</div>
</div>
