.player {
  text-align: center;
}

.avatar {
  vertical-align: middle;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 0px 5px 4px rgba(0, 0, 0, 0.2);

}
.player-name {
  color:#ffffff;
}
.team-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
}
.team-member-avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.team-member-name {
  margin-top: 10px;
  margin-bottom: 5px;
}
.team-member-email {
  font-weight: 300;
}
.m-md {
  margin: 20px;
}

.team-member-social-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 0 45px;
}
.team-member-social-link {
  font-size: 2.1875rem;
  color: #676a6c;
  opacity: .7;
  cursor: pointer;
  transition: .3s ease-in-out;
}
.player-details-container{
  display: grid;
  height: 100%;
  justify-content: center;
  //background-color: #E4E4E4;
  grid-template-columns: 10px 1fr 10px;
}
.player-content{
  grid-column: 2;
}
.form-group{
  display: flex;
  justify-content: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
