.players-main{
  background: url('../../../../../assets/soccer_field.png') 0% 0% / 100% 100% no-repeat;
  // height:  calc(100% - 120px);
  width: 100%;
 // display:flex;
  border: 1px solid black;
 // flex-direction:column;
}

.bench-background {
  background-image: url(../../../../../assets/playersBase.png);
  background-position: 100% 100%;
}
.game-container {
  display: grid;
  height: 100%;
  grid-template-areas: "header header header"
                       "field field field"
                      "footer footer footer";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr 100px;
}
.header{
  grid-area: header;


}
.footer{
  grid-area: footer;

}
.field{
  grid-area: field;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 20% 10%;
  grid-auto-rows: 20% 10% 10%;
  text-align: center;
  align-items: center;

}
.first-item{
  grid-column: span 2;
  align-self: end;
}
.last-item{
  grid-column: span 2;
}
