.svg-icon-android {
  width: 15px;
  height: 15px;
  position: relative;
  top: -1px;
}

.svg-icon-ios {
  width: 18px;
  height: 18px;
  position: relative;
  top: -1px;
}

.svg-icon-web {
  width: 16px;
  height: 16px;
  position: relative;
}
.svg-spy-icon {
  width: 19px;
  height: 15px;
}

.svg-icon-trash { width: 15px; height: 14px; }
.svg-icon-logo { width: 21px; height: 21px; }

.svg-icon-drag-drop { width: 9px; height: 69px; }
