.player {
  text-align: center;
}

.avatar {
  vertical-align: middle;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 0 0 2px #999, 0 0px 5px 4px rgba(0, 0, 0, 0.2);

}
.player-name {
  color:#ffffff;
}
