<div>
  <ux-tabset class="tabs-primary  absolute width--100 height--100 cdls-tabs-full">
    <ux-tab heading="FIELD" class="height--100">
      <app-field [arrive]="players" [bench]="benchPlayers" [cader]="caderPlayers"
               (details)="handleDetails($event)"  (update)="handleUpdate($event) "></app-field>
    </ux-tab>
    <ux-tab heading="PLAYERS">
      <app-players-list></app-players-list>
    </ux-tab>
    <ux-tab heading="DETAILS">
      <app-player [player]="player"></app-player>
    </ux-tab>
    <ux-tab heading="SETTINGS">
    </ux-tab>
  </ux-tabset>

</div>
