:host {
  display:grid;
  padding: 20px;
  height: 100%;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  //grid-template-rows: 50px;
  grid-gap:20px;
  //background-color: darkgray;
  grid-auto-rows: max-content;
  //background: url("../../../../../assets/football.png") no-repeat 0 50%;
  //background-size: cover;

}
:host(:before) {
    content: "";
    background-image: url("../../../../../assets/shoes2.jpg");
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    //z-index: -1;
}


.player-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}
.action-button-group {
  margin:10px;
  display: grid;
  grid-column-gap: 10px;
  grid-auto-flow: column;

}
.add-player{
  border-radius: 10px 10px 10px 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 14px;
  right: 15px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;

}
