
<button  class="btn btn-back" (click)="handleBack()">BACK</button>

  <!-- <div *ngFor="let player of players" >
    <app-player-view (viewPlayer)="handleView($event)" [player]="player"></app-player-view>
  </div> -->


<div *ngIf="true">
<table class="table table-hover">
  <thead>
  <tr class="table-header-dark">
    <th>Name</th>
    <th>Position</th>
    <th>Date</th>
    <th>Admin</th>
    <th>Number</th>
    <th>Captain</th>
    <th>Strength</th>
    <th class="text-center">Status</th>
    <th></th>
  </tr>
  </thead>

  <tbody [(uxSelection)]="selected" mode="row-alt">
  <tr *ngFor="let player of players$ | async"
      class="hover-action-container"
      [uxSelectionItem]="player"
      uxHoverActionContainer>

    <td class="text-black">{{ player.name }}</td>
    <td>{{ player.position }}</td>
    <td>{{ player.birth | date: 'shortDate' }}</td>
    <td>{{ player.admin }}</td>
    <td>{{ player.number }}</td>
    <td>{{ player.captain }}</td>
    <td>{{ player.strength }}</td>
    <!--<td>
      <ux-slider [value]="player.strength" [options]="slider.options"></ux-slider>

    </td>-->
    <td class="text-center">
      <ux-icon [name]="player.arrive ? 'checkmark' : 'close'"
               [attr.aria-label]="player.arrive ? 'Approved' : 'Not approved'">
      </ux-icon>
    </td>
    <td>
      <button type="button" (click)="handleView(player)"
              class="hover-action-btn"
              aria-label="View"
              uxTooltip="View"
              uxHoverAction>
        <ux-icon name="view" class="hover-action-icon"></ux-icon>
      </button>

      <button type="button" (click)="handleDeletePlayer(player)"
              class="hover-action-btn"
              aria-label="Delete"
              uxTooltip="Delete"
              uxHoverAction>
        <ux-icon name="trash" class="hover-action-icon"></ux-icon>
      </button>
    </td>

  </tr>
  </tbody>
</table>

<div class="action-button-group">
  <button class="btn btn-danger" (click)="resetPlayers()">Reset Players</button>
  <button class="btn btn-primary"(click)="addPlayer()">Add Player</button>

<!--  <button class="btn btn-primary" (click)="updatePlayer()">Update Player</button>-->



</div>
</div>
<!--<div  *ngIf="playerDetails">
  &lt;!&ndash; Modal &ndash;&gt;
  <app-player-details   [player]="playerDetails" (update)="handleUpdatePlayer($event)" (back)="handleBack()"></app-player-details>
</div>-->



